.App {
  width: 100%;
  height: 100%;
}
/*Layout*/
/*.container*/

.container {
  margin: 0 auto;
}

.container__sm {
  width: 75%;
}

.container__lg {
  width: 85%;
}

/* Buttons */

.button {
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  margin: 8px;
  user-select: none;
  padding: 10px 25px;
  font-size: 14px;
  border: 0;
  outline: 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow--button);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.small__button {
  padding: 5px 15px;
}
.medium__button {
  padding: 10px 15px;
}
.large__button {
  padding: 15px 35px;
}
.disableElevation__button {
  box-shadow: none;
}

.primary__contained__button {
  background-color: var(--color-primaryAccent);
  color: #fff;
}
.primary__contained__button:hover {
  background-color: var(--color-primaryDark);
}
.secondary__contained__button {
  background-color: var(--color-secondaryAccent);
  color: #fff;
}
.secondary__contained__button:hover {
  background-color: var(--color-secondaryDark);
}
.link__contained__button {
  background-color: var(--color-link);
  color: #fff;
}
.link__contained__button:hover {
  background-color: #0b0470;
}

.default__outlined__button {
  border: 1px solid #000;
  color: #000;
  background-color: transparent;
}
.default__outlined__button:hover,
.default__text__button:hover {
  background-color: #58575707;
}
.primary__outlined__button {
  border: 1px solid var(--color-primaryAccent);
  color: var(--color-primaryAccent);
  background-color: transparent;
}
.primary__outlined__button:hover,
.primary__text__button:hover {
  background-color: #75b8ee18;
}
.secondary__outlined__button {
  border: 1px solid var(--color-secondaryAccent);
  color: var(--color-secondaryAccent);
  background-color: transparent;
}

.secondary__outlined__button:hover,
.secondary__text__button:hover {
  background-color: #ff5c951e;
}
.link__outlined__button {
  border: 1px solid var(--color-link);
  background-color: transparent;
  color: var(--color-link);
}
.link__outlined__button:hover,
.link__text__button:hover {
  background-color: #304ffe1a;
}

/* Text Button */
.default__text__button {
  color: #000;
  background-color: transparent;
}
.primary__text__button {
  color: var(--color-primaryAccent);
  background-color: transparent;
}

.secondary__text__button {
  color: var(--color-secondaryAccent);
  background-color: transparent;
}

.link__text__button {
  background-color: transparent;
  color: var(--color-link);
}
/*Button ripple*/

span {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: ripple 1s linear infinite;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/*Backdrop*/
.backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.281);
  backdrop-filter: blur(10px);
  cursor: pointer;
  top: 0;
  left: 0;
}
.center__justify__backdrop {
  justify-content: center;
}
.end__justify__backdrop {
  justify-content: flex-end;
}
.start__justify__backdrop {
  justify-content: flex-start;
}
.space-between__justify__backdrop {
  justify-content: space-between;
}
.space-around__justify__backdrop {
  justify-content: space-between;
}
.center__align__backdrop {
  align-items: center;
}
.end__align__backdrop {
  align-items: flex-end;
}
.start__align__backdrop {
  align-items: flex-start;
}

/*Avatar*/
.avatar {
  width: 45px;
  height: 45px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  margin: 8px;
  overflow: hidden;
  position: relative;
}

.primary__avatar {
  background-color: var(--color-primaryDark);
  color: #fff;
}
.secondary__avatar {
  background-color: var(--color-secondaryAccent);
  color: #fff;
}
.link__avatar {
  background-color: var(--color-link);
  color: #fff;
}
.avatar > img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.small__avatar {
  width: 30px;
  height: 30px;
}
.large__avatar {
  width: 55px;
  height: 55px;
}

/*Snackbar*/
.snakbar {
  padding-top: 5px;
  display: flex;
  align-items: center;
  background-color: #262626;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-around;
  opacity: 0;
  width: 300px;
  transition: all 0.2s ease-in-out;
  transform: scale(0.5);
  position: fixed;
}
.snackbar__message {
  color: #fff;
  font-weight: 500;
}
.snackbar__enabled {
  opacity: 1;
  transform: scale(1);
}
.primary__snackbar {
  background-color: var(--color-primaryAccent);
}
.secondary__snackbar {
  background-color: var(--color-secondaryAccent);
}
.link__snackbar {
  background-color: var(--color-link);
}

.top-right__snackbar {
  top: 10px;
  right: 10px;
}
.top-left__snackbar {
  top: 10px;
  left: 10px;
}
.bottom-left__snackbar {
  bottom: 10px;
  left: 10px;
}
.bottom-right__snackbar {
  bottom: 10px;
  right: 10px;
}
