body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primaryDark: #1769aa;
  --color-primaryAccent: #2196f3;
  --color--primaryLight: #4dabf5;

  --color-secondaryDark: #ab003c;
  --color-secondaryAccent: #f50057;
  --color-secondaryLight: #f73378;

  --color-link: #304ffe;

  --border-radius: 4px;
  --box-shadow--button: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
